<section style="background: #F8F9FA;">
    <img src="public/images/man.jpg" alt="bg" class="bg-image" id="shownone">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="card mb-0 card-body py-4">
                    <h2 class="d-block">Hire Our Team</h2>
                    <form action="https://api.formbucket.com/f/buk_CKuBZ5eDfWzUALhD2d6o89Ee" method="POST">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="rich-form-2-name">Full Name:</label>
                                    <input id="rich-form-2-name" name="name" type="text"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="rich-form-2-phone">Phone:</label>
                                    <input id="rich-form-2-phone" name="phone" type="tel" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="rich-form-2-email">Company or Project Name:</label>
                                    <input id="rich-form-2-email" name="company" type="text"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="rich-form-2-email">Email Address:</label>
                                    <input id="rich-form-2-email" name="email" type="email"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="rich-form-1-select-2">State: </label>
                                    <select class="custom-select form-control" name="state" id="rich-form-1-select-2">
                                        <option value="AL">Alabama</option>
                                        <option value="AK">Alaska</option>
                                        <option value="AZ">Arizona</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="CA">California</option>
                                        <option value="CO">Colorado</option>
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="DC">District Of Columbia</option>
                                        <option value="FL">Florida</option>
                                        <option value="GA">Georgia</option>
                                        <option value="HI">Hawaii</option>
                                        <option value="ID">Idaho</option>
                                        <option value="IL">Illinois</option>
                                        <option value="IN">Indiana</option>
                                        <option value="IA">Iowa</option>
                                        <option value="KS">Kansas</option>
                                        <option value="KY">Kentucky</option>
                                        <option value="LA">Louisiana</option>
                                        <option value="ME">Maine</option>
                                        <option value="MD">Maryland</option>
                                        <option value="MA">Massachusetts</option>
                                        <option value="MI">Michigan</option>
                                        <option value="MN">Minnesota</option>
                                        <option value="MS">Mississippi</option>
                                        <option value="MO">Missouri</option>
                                        <option value="MT">Montana</option>
                                        <option value="NE">Nebraska</option>
                                        <option value="NV">Nevada</option>
                                        <option value="NH">New Hampshire</option>
                                        <option value="NJ">New Jersey</option>
                                        <option value="NM">New Mexico</option>
                                        <option value="NY">New York</option>
                                        <option value="NC">North Carolina</option>
                                        <option value="ND">North Dakota</option>
                                        <option value="OH">Ohio</option>
                                        <option value="OK">Oklahoma</option>
                                        <option value="OR">Oregon</option>
                                        <option value="PA">Pennsylvania</option>
                                        <option value="RI">Rhode Island</option>
                                        <option value="SC">South Carolina</option>
                                        <option value="SD">South Dakota</option>
                                        <option value="TN">Tennessee</option>
                                        <option value="TX">Texas</option>
                                        <option value="UT">Utah</option>
                                        <option value="VT">Vermont</option>
                                        <option value="VA">Virginia</option>
                                        <option value="WA">Washington</option>
                                        <option value="WV">West Virginia</option>
                                        <option value="WI">Wisconsin</option>
                                        <option value="WY">Wyoming</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="rich-form-2-select-2a">Budget:</label>
                                    <select class="custom-select form-control" name="budget" id="rich-form-2-select-2a">
                                        <option value="$5,000">Less than $5,000</option>
                                        <option value="$5,000 - $25,000">$5,000 - $25,000</option>
                                        <option value="$25,000 - $50,000">$25,000 - $50,000</option>
                                        <option value="$50,000">$50,000 or more</option>
                                        <option value="I'm not sure">I'm not sure</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group mb-0">
                                    <label>Services:</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="custom-control custom-checkbox p-0">
                                    <input type="checkbox" value="Website Development" name="services"
                                           class="custom-control-input" id="customCheck1">
                                    <label class="card card-body flex-md-row align-items-center text-center"
                                           for="customCheck1">
                                        <span class="h6 mb-0 ml-md-2"
                                              style="text-align: left;">Website Development</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="custom-control custom-checkbox p-0">
                                    <input type="checkbox" value="Mobile Development" name="services"
                                           class="custom-control-input" id="customCheck2">
                                    <label class="card card-body flex-md-row align-items-center text-center"
                                           for="customCheck2">
                                        <span class="h6 mb-0 ml-md-2"
                                              style="text-align: left;">Mobile Development</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="custom-control custom-checkbox p-0">
                                    <input type="checkbox" name="services" value="Software Development"
                                           class="custom-control-input" id="customCheck3">
                                    <label class="card card-body flex-md-row align-items-center text-center"
                                           for="customCheck3">
                                        <span class="h6 mb-0 ml-md-2"
                                              style="text-align: left;">Software Development</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="custom-control custom-checkbox p-0">
                                    <input type="checkbox" name="services" value="Project Management"
                                           class="custom-control-input" id="customCheck4">
                                    <label class="card card-body flex-md-row align-items-center text-center"
                                           for="customCheck4">
                                        <span class="h6 mb-0 ml-md-2"
                                              style="text-align: left;">Project Management</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="rich-form-1-text">Tell Us About Your Project</label>
                                    <textarea name="message" id="rich-form-1-text"
                                              rows="5" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-lg btn-primary btn-block mb-1" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>