<footer class="spacer-y-3" style="background: #1d1d1d;">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3 mb-3 mb-md-0">
        <h5 class="text-white">Company</h5>
        <ul class="list-unstyled">
          <li class="py-0 py-md-1"><a href="about.html" class="text-white">About Us</a>
          </li>
          <li class="py-0 py-md-1"><a href="#" class="text-white">Press</a>
          </li>
          <li class="py-0 py-md-1"><a href="#" class="text-white">Branding</a>
          </li>
          <li class="py-0 py-md-1"><a href="#" class="text-white">Careers</a>
          </li>
          <li class="py-0 py-md-1"><a href="#" class="text-white">Services</a>
          </li>
          <li class="py-0 py-md-1"><a href="#" class="text-white">Podcast</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-3 mb-3 mb-md-0">
        <h5 class="text-white">Products</h5>
        <ul class="list-unstyled">
          <li class="py-0 py-md-1"><a href="#" class="text-white">Plugins</a>
          </li>
          <li class="py-0 py-md-1"><a href="#" class="text-white">Themes</a>
          </li>
          <li class="py-0 py-md-1"><a href="#" class="text-white">Shuttlestack Spaces</a>
          </li>
          <li class="py-0 py-md-1"><a href="#" class="text-white">Code Challenges</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-3 mb-3 mb-md-0">
        <h5 class="text-white">Help &amp; Support</h5>
        <ul class="list-unstyled">
          <li class="py-0 py-md-1"><a href="#" class="text-white">Contact us</a>
          </li>
          <li class="py-0 py-md-1"><a href="#" class="text-white">Support Center</a>
          </li>
          <li class="py-0 py-md-1"><a href="hire-us.html" class="text-white">Hire Our Team</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <ul class="list-social-links">
          <li class="text-white"><a href="#"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="text-white"><a href="https://www.twitter.com/shuttlestackhq" target="_blank"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="text-white"><a href="https://www.linkedin.com/company/shuttlestackinc/about/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </li>
          <li class="text-white"><a href="https://www.instagram.com/shuttlestacknyc" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="text-white"><a href="#"><i class="fab fa-dribbble"></i></a>
          </li>
          <li class="text-white"><a href="#"><i class="fab fa-github"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-3 mt-md-4">
      <div class="col">
        <span class="text-small text-white opacity-50">&copy; 2019 Shuttlestack, All Rights Reserved</span>
      </div>
    </div>
    <div class="row mt-3">

    </div>
  </div>
</footer>
