<section class="bg-white spacer-y-1">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <span>🎉 Announcing the release of our new authentication system plugin for download. <a href="blog/auth-release.html" style="color: #ed3e44;">Learn More</a>.</span>
      </div>
    </div>
  </div>
</section>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand" href="/">
<img alt="Shuttlestack" src="img/logo.png" height="45">
</a>
    <div class="d-flex order-lg-3 ml-lg-2">
      <button class="btn btn-primary" id="shownone" style="border: solid 2px #ed3e44; background: #fff; color: #ed3e44; font-weight: bold;">Log In</button>&nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary" onclick="location.href='hire-us.html'" id="shownone">Hire Our Team</button>
    </div>
    <div class="d-lg-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between my-1 my-lg-0">
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item">
            <a href="#" class="nav-link pr-2">Services</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link pr-2">Products</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link pr-2">Projects</a>
          </li>
          <li class="nav-item">
            <a href="about.html" class="nav-link pr-2">Company</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link pr-2">Journey</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</nav>
